.footer {
    width: 94%;
    margin: 1.2em auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer div span {
    color: rgba(0 0 0 / .5);
    font-size: 1.2em;
    font-weight: 500;
}